{% extends 'layout.html' %}

{% block tabtitle %}{{ title }}{% endblock %}

{% block content %}
<!-- random text -->
	<h1>Index Page</h1><br/> <br/>
	<p>Literally small batch keytar banh mi. Forage YOLO distillery fanny pack, occupy selfies Echo Park. Bushwick umami migas Pitchfork. Williamsburg Wes Anderson messenger bag gastropub. PBR flexitarian Portland four dollar toast taxidermy tofu banjo, +1 actually crucifix gentrify bicycle rights mustache. Meh Vice tote bag, shabby chic PBR dreamcatcher artisan. Vinyl tote bag gentrify Odd Future PBR XOXO keffiyeh.</p>

	<p>Tote bag chillwave squid, ennui food truck literally mlkshk locavore keffiyeh mumblecore ethical Portland master cleanse lomo.</p>
	<p>Photo booth cred Neutra Williamsburg lo-fi flexitarian. Chambray pork belly deep v freegan cold-pressed Intelligentsia. Bespoke banh mi 8-bit seitan, put a bird on it tousled ennui before they sold out.</p>
	<p>Portland raw denim fixie tilde. Dreamcatcher wolf Tumblr occupy, irony iPhone lomo four dollar toast Kickstarter try-hard sartorial viral. YOLO ugh PBR&amp;B letterpress, raw denim tattooed jean shorts.</p>

	<p>Squid organic synth, small batch tote bag chillwave fixie keffiyeh McSweeney's. Twee pork belly viral slow-carb, kitsch drinking vinegar forage pour-over. Ugh raw denim Truffaut, mixtape sartorial migas literally hella tilde street art keffiyeh chambray. Bespoke PBR pop-up jean shorts McSweeney's PBR&B. McSweeney's typewriter bicycle rights, lo-fi literally Austin Banksy. Sustainable farm-to-table squid fap leggings sriracha, 3 wolf moon fashion axe Carles ugh. Drinking vinegar 90's Banksy, yr PBR DIY hoodie.</p>


<!--
	{% if players.length > 0 %}
		{% for player in players %}
			<li>{{ player.name.first }} {{ player.name.last }} - {{ player.position }}</li>
		{% endfor %}

	{% endif %}

	<form method="POST" action="/add">
	  <div class="form-group">
	    <label for="exampleInputEmail1">First</label>
	    <input type="text" class="form-control" name="first" id="exampleInputEmail1" placeholder="First Name">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Last</label>
	    <input type="text" class="form-control" name="last" id="exampleInputPassword1" placeholder="Last Name">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Number</label>
	    <input type="number" class="form-control" name="number" id="exampleInputPassword1" placeholder="Number">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputFile">Title</label>
	    <input type="text" class="form-control" name="title" id="exampleInputFile" placeholder="Title">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputFile">Position</label>
	    <input type="text" class="form-control" name="position" id="exampleInputFile" placeholder="Position">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>-->

{% endblock %}